GLASSFISH_HOME={{ glassfish_home }}
case "$1" in
start)
$GLASSFISH_HOME/bin/asadmin --passwordfile=/opt/glassfish4/glassfish-password.txt start-domain >/dev/null
    ;;
stop)
     $GLASSFISH_HOME/bin/asadmin stop-domain >/dev/null
    ;;
restart)
     $GLASSFISH_HOME/bin/asadmin restart-domain >/dev/null
    ;;
\*)
   echo "usage: $0 (start|stop|restart|help)"
esac