#AS_ADMIN_MASTERPASSWORD=changeit
#AS_ADMIN_PASSWORD=changeit
#AS_ADMIN_ALIASPASSWORD=changeit
AS_ADMIN_MASTERPASSWORD=changeit
AS_ADMIN_PASSWORD={{ admin_password }}
AS_ADMIN_ALIASPASSWORD={{ admin_password }}